<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <title>Edición de producto</title>
</head>
<body>
    <!--Header-->
    <%- include("../partials/header") %> 
    <!--Header-->
    <!--navbar-->
    <%- include("../partials/navbar") %>
    <!--navbar-->

    <main class="edition">
        <h1>Edición de producto</h1>
        <div class="container-product">
            <form action="/" class="form-register">
                <div class="img-product">
                    <img src="/img/fresa_details.jpg" alt="">
                    <div class="control-formulario">
                        <label for="foto">Cambiar Foto de Producto:</label>
                        <div>
                            <input type="file" name="foto" id="foto" class="barra" accept=".jpg , .png , .jpeg">
                        </div>
                    </div>
                </div>
                <section class="section-1">
                    <article class="item-product">
                        <div class="inf-product">
                            <h2>Detalle de producto</h2>
                            <div class="control-formulario">
                                <label for="title"> Editar nombre del producto:</label>
                                <div>
                                    <input type="text" name="title" id="title" class="barra" placeholder="FRESA 250 gr"
                                        minlength="2">
                                </div>
                            </div>
    
                            <div class="control-formulario">
                                <label for="description">Editar descripción del producto:</label>
                                <textarea id="description" class="barra" name="description" rows="3" cols="20">La fresa es un fruto silvestre de color rojo y con forma de corazón, su sabor es dulce con un leve toque ácido y su cosecha se da principalmente en la época de verano.</textarea>
                            </div>
                            <div class="control-formulario">
                                <label for="category">Editar categoría del producto:</label>
                                <select name="category" id="">
                                    <option name="category" value="Fruta">Fruta</option>
                                    <option name="category" value="Verdura">Verdura</option>
                                </select>
                            </div>
                            <div class="control-formulario">
                                <label for="price"> Editar precio del producto:</label>
                                <div>
                                    <input type="text" name="price" id="price" class="barra" placeholder="$ 3.360"
                                        minlength="3">
                                </div>
                            </div>
    
                        </div>
                        <div class="content-buttons">
                            <input type="reset" id="reset" class="buttons" value="Descartar cambios">
                            <input type="submit" id="submit" class="buttons" value="Guardar y enviar">
                        </div>
    
                    </article>
                </section>
            </form>
        </div>
    </main>

    <!--footer-->
    <%- include("../partials/footer") %>
    <!--footer-->
</body>
</html>