<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>MerCampo</title>
</head>

<body>
     <!--Header-->
     <%- include("./partials/header") %> 
     <!--Header-->
     <!--navbar-->
     <%- include("./partials/navbar") %>
     <!--navbar-->

    <main class="error">
        <p><i class="fas fa-wrench" id="conf-icon"></i></p>
        <h2 class="error-catch-title">Ocurrió un error, intentalo más tarde</h2>
    </main>

    <!--footer-->
    <%- include("./partials/footer") %>
        <!--footer-->

</body>


</html>