<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;300&family=Merienda:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <header>
        <div class="top-header">
            <img id="logo" src="/img/logo_d.png" alt="">
            <div class="bar-search">
                <input id="Buscar" type="search" name="Buscar" placeholder="Buscar productos,marcas y más"><button><i
                        class="fas fa-search"></i></button>
            </div>
            <nav class="top-header-navbar">
                <ul class="text-navbar">
                    <li class="text-navbar_item"><a href="#">Registrarme</a></li>
                </ul>
            </nav>
            <nav class="top-header-navbar">
                <ul class="icons-navbar">
                    <li class="icons-navbar_item"><a href="#"><i class="fas fa-truck"></i></a></li>
                    <li class="icons-navbar_item"><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li class="icons-navbar_item"><a href="#"><i class="fas fa-user-circle"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <a href="a" class="burger-bottom"><i class="fas fa-bars"></i></a>
            </div>
        </div>
    </header>

    <main class="login">
        <h2>Login de Usuario</h2>
        <i class="fas fa-user-circle"></i>
        <form action="/" class="form-login">
            <div class="control-formulario">
                <label for="usuario">Correo electronico:</label>
                <input type="text" name="usuario" id="usuario" class="barra" placeholder="Ingrese su email" required>
            </div >
    
            <div class="control-formulario">
                <label for="password">Contraseña:</label>
                <input id="password" class="barra" type="password" name="password" placeholder="Ingrese su Contraseña" required>
            </div>
            <div class="control-formulario">
                <div class="login-options">
                    <div><input type="checkbox" name="remember-me" id="remember-me" class="select" value="remember-me"> Recordar mis
                    datos</div>
                    <a href="/">¿Olvidaste tu Contraseña?</a>
                </div>
            </div>
            <div class="content-buttons">
                <input type="submit" class="buttons" value="Enviar">
            </div>
        </form>
    </main>

    <footer class="footer">

        <div class="footer-content">

            <div class="content">
                <h5 class="content__title">Acerca de Nosotros</h5>
                <p class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nobis
                    suscipit at</p>
            </div>
            <div class="content">
                <h5 class="content__title">Contacto</h5>
                <p class="content__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam quae
                    cumque aliquid?</p>
            </div>
            <div class="content">
                <h5 class="content__title">Pagos</h5>
                <p class="content__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam
                    quae cumque aliquid?</p>
            </div>
            <div class="content">
                <h5 class="content__title">Redes</h5>
                <p class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nobis
                    suscipit at</p>
            </div>
            <div class="content">
                <h5 class="content__title">Ubicación</h5>
                <p class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nobis
                    suscipit at</p>
            </div>

        </div>

        <div class="content">
            <h5 class="content__copyright">Copyright © 2021 MerCampo</h5>
        </div>

    </footer>
    
</body>
</html>