<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;300&family=Merienda:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Product details</title>
</head>

<body>
    <header>
        <div class="top-header">
            <img id="logo" src="/img/logo_d.png" alt="">
            <div class="bar-search">
                <input id="Buscar" type="search" name="Buscar" placeholder="Buscar productos,marcas y más"><button><i
                        class="fas fa-search"></i></button>
            </div>
            <nav class="top-header-navbar">
                <ul class="text-navbar">
                    <li class="text-navbar_item"><a href="#">Registrarme</a></li>
                </ul>
            </nav>
            <nav class="top-header-navbar">
                <ul class="icons-navbar">
                    <li class="icons-navbar_item"><a href="#"><i class="fas fa-truck"></i></a></li>
                    <li class="icons-navbar_item"><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li class="icons-navbar_item"><a href="#"><i class="fas fa-user-circle"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <a href="a" class="burger-bottom"><i class="fas fa-bars"></i></a>
            </div>
        </div>
    </header>
    <main class="product-details">
        <div class="img-product">
            <img src="/img/mora.jpg" alt="">
            <div class="qualification">
                <i class="fas fa-star"></i>
            </div>
        </div>
        <section class="section-1">
            <article class="item-product">
                <div class="inf-product">
                    <h2>Mora</h2>
                    <h4>Descripción del producto:</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora exercitationem molestias,
                        blanditiis, iste, laudantium debitis porro veniam nostrum quisquam quia deleniti reprehenderit
                        veritatis! Saepe quam labore nulla perspiciatis iure dicta.</p>
                    <p>$$$$</p>
                    <p>
                        <label for="numero">Cantidad:</label>
                        <input type="number" name="numero" id="numero" max="100" min="1">
                    </p>
                </div>
                <nav class="content-buttoms">
                    <a href="#"><button>Comprar Ahora</button></a>
                    <a href="/sopping_cart"><button>Agregar <i class="fas fa-cart-plus"></i></button></a>
                    <a href="#favorito"><button><i class="fas fa-heart"></i> Agregar a favoritos</button></a>
                </nav>
            </article>
        </section>
        <section class="section-2">
            <h4>Lista de provedores</h4>
        </section>
    </main>

    <footer class="footer">

        <div class="footer-content">

            <div class="content">
                <h5 class="content__title">Acerca de Nosotros</h5>
                <p class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nobis
                    suscipit at</p>
            </div>
            <div class="content">
                <h5 class="content__title">Contacto</h5>
                <p class="content__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam quae
                    cumque aliquid?</p>
            </div>
            <div class="content">
                <h5 class="content__title">Pagos</h5>
                <p class="content__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam
                    quae cumque aliquid?</p>
            </div>
            <div class="content">
                <h5 class="content__title">Redes</h5>
                <p class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nobis
                    suscipit at</p>
            </div>
            <div class="content">
                <h5 class="content__title">Ubicación</h5>
                <p class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nobis
                    suscipit at</p>
            </div>

        </div>

        <div class="content">
            <h5 class="content__copyright">Copyright © 2021 MerCampo</h5>
        </div>

    </footer>

</body>

</html>