<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;300&family=Merienda:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Carrito de Compras</title>
</head>

<body>
    <header>
        <div class="top-header">
            <img id="logo" src="/img/logo_d.png" alt="">
            <div class="bar-search">
                <input id="Buscar" type="search" name="Buscar" placeholder="Buscar productos,marcas y más"><button><i
                        class="fas fa-search"></i></button>
            </div>
            <nav class="top-header-navbar">
                <ul class="text-navbar">
                    <li class="text-navbar_item"><a href="#">Registrarme</a></li>
                </ul>
            </nav>
            <nav class="top-header-navbar">
                <ul class="icons-navbar">
                    <li class="icons-navbar_item"><a href="#"><i class="fas fa-truck"></i></a></li>
                    <li class="icons-navbar_item"><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li class="icons-navbar_item"><a href="#"><i class="fas fa-user-circle"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <a href="a" class="burger-bottom"><i class="fas fa-bars"></i></a>
            </div>
        </div>
    </header>
    <section class="inf">
        <div class="inf-text">
            <h5>Si realizaste el pedido después de las 12:00 pm, tu pedido se despachara el día siguiente y los pedidos realizados el sábado después de las 12 pm y el domingo se despacharan el día Lunes</h5>
        </div>
    </section>
    <section class="banner-img">
        <img src="/img/banner.png" alt="banner" class="banner">
    </section>

    
    <main class="main-main">
        
        <section class="main-content">
            <h3>Carrito de Compras</h3>
            <section class="content_section">
                                 
                <div class="products">
                    <article class="items">
                        <img src="/img/mora.jpg" alt="">
                        <div class="description">
                            <h5>Mora</h5>
                            <p>Vendedor: XXXX</p>
                            <p>Cantidad: XXX Kg</p>
                            <p>Precio:   $$$$$</p>
                        </div>
                        <div class="space-add-button">
                            <button><i class="far fa-heart"></i>Agregar a Favoritos </button>
                            <button><i class="far fa-times-circle"></i>Eliminar Producto</button>
                        </div>
                    </article>
                    <article class="items">
                        <img src="/img/granadilla.jpg" alt="">
                        <div class="description">
                            <h5>Granadilla</h5>
                            <p>Vendedor: XXXX</p>
                            <p>Cantidad: XXX Kg</p>
                            <p>Precio:   $$$$$</p>
                        </div>
                        <div class="space-add-button">
                            <button><i class="far fa-heart"></i>Agregar a Favoritos </button>
                            <button><i class="far fa-times-circle"></i>Eliminar Producto</button>
                        </div>
                    </article>
                        
                </div>
            </section>
            <section class="content_section">
                <div>
                    <p>Subtotal:   $$$$$</p>
                    <p>Total:      $$$$$</p>
                </div>
                <nav>
                    <a href="#fruits"><button>Pagar</button></a>
                    <a href="#vegetables"><button>Continuar Comprando</button></a>
                </nav>
            </section>
        </section>
          
    </main>

    <footer class="footer">

        <div class="footer-content">

            <div class="content">
                <h5 class="content__title">Acerca de Nosotros</h5>
                <p class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nobis suscipit at</p>
            </div>
            <div class="content">
                <h5 class="content__title">Contacto</h5>
                <p class="content__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam quae cumque aliquid?</p>
            </div>
            <div class="content">
                <h5 class="content__title">Pagos</h5>
                <p class="content__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam
                    quae cumque aliquid?</p>
            </div>
            <div class="content">
                <h5 class="content__title">Redes</h5>
                <p class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nobis suscipit at</p>
            </div>
            <div class="content">
                <h5 class="content__title">Ubicación</h5>
                <p class="content__description"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31909.55904383426!2d-77.40183163590893!3d1.3597096393272392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sus!4v1635285716524!5m2!1ses-419!2sus" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
            </div>

        </div>

        <div class="content">
            <h5 class="content__copyright">Copyright © 2021 MerCampo</h5>
        </div>

    </footer>

</body>

</html>