/*root*/
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'merienda', 'josefin';
    --colorGreen:#8DC63F;
    --colorOrange: #ED9A04; 
    --colorWhite: rgb(255, 255, 255);
}




body{
    background-color: #8DC63F;    
    font-size: 16px;
}
/*/root/*/
/* header*/
header{
    background-color:#A5DB5B;
    font-family: 'merienda', 'josefin';
    width: 100vw;
    padding: 5px 0px; 
    /*opacity: 0.9;*/
}
header .top-header{
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
    align-items: center;
}
header .top-header a {
    width: 15%;
    min-height:40px; 
}
header .top-header a img#logo{
    /*border: 1px solid black;*/
    width: 100%;     
}
header .top-header .bar-search{
    /*border: 1px solid black;*/
    width: 55%;
    min-height: 25px;
    padding: 5px;
    display: flex; 
}
header .bar-search #Buscar{
    width:100%;
    text-align: center;
    border-radius: 6px;
    border: none;
    font-size: 10px;
    padding-left: 5px;
}
header .top-header .bar-search .icon-search{
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    border:none;
    font-size: 15px;
}

header .top-header .top-header-navbar .text-navbar{
    display: none;
}
header .top-header .top-header-navbar .icons-navbar{
    display: flex;
    display: none;
}
header .top-header-navbar .text-navbar li, a{
    list-style: none;
    text-decoration: none;
    color:rgb(255, 255, 255);
}
header .top-header-navbar .icons-navbar li{
    list-style: none;
    color:rgb(255, 255, 255) ;
}
header .burger-menu{
    display: flex;
    align-items: center;
}
header .burger-menu .burger-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50px;
    margin: 10px;
    font-size: 19px;
}
/* barra-navbar*/
.barra-navbar{
    display:none
}
/*texto*/
.inf-text h5{
    display: none;
}
/*banner*/
.banner-img .banner{
    display: block;
    width: 100%;
    display: none;
}

/* main*/
main.main{
    
    text-align: center;
    max-width: 100vw;
    margin: auto;
    background-color: white;

}

main.main .section1{
    display: flex;
    justify-content: flex-end;
    background-color: #8DC63F;
}

main.main .section1 nav{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

}

main.main .section1 nav a button{
    background-color: #D61E23;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

main.main .section2{
    border-top: 2px black solid;
    display: flex;
    background-color: #ED9A04;
}

main.main .section2 h3{
    text-align: center;
    margin-top: 20px;
}

main.main .section2 {
    text-align: left;
}

main.main .section2 .filtro{
    display: none;
}

main.main .section2 .fruits-vegetables{
    width: 100%;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}

main.main .section2 .fruits-vegetables .fruits, .vegetables{
    background-color: #BAE06C;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    border-radius: 5px;
}

main.main .section2 .fruits-vegetables .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

main.main .section2 .fruits-vegetables .products .items{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}

main.main .section2 .fruits-vegetables .products .items img{
    width: 100%;
    height: 250px;
}

main.main .section2 .fruits-vegetables .products .items .description h5{
    text-align: center;
}

main.main .section2 .fruits-vegetables .products .items .description p{
    margin: 10px 0px;
}

main.main .section2 .fruits-vegetables .products .items .description a{
    text-decoration: none;
    font-size: 13px;
    font-style: italic;
    opacity: 0.8;
}

main.main .section2 .fruits-vegetables .products .items .space-add-button {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

main.main .section2 .fruits-vegetables .products .items .space-add-button button{
    width: 100%;
    display:block; 
    background-color: #D61E23;
    color: white;
    border-radius: 5px;
}






.main-main{
    background-color: var(--colorWhite);
    margin: 0.5rem;
}
.main-main .main-content{
    width: 80vw;
    background-color: var(--colorWhite);
    margin: auto;
    border-radius: 1rem;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    padding: 1rem;
}
.main-main .main-content img{
    width: 90%;
    margin: auto;
    border-radius: 1rem;
}
.main-main .main-content .products .items{
    width: 95%;
    margin: auto;
    border-radius: 1rem;
    margin-top: 1rem;
}

/* Product details*/
main.product-details{
    background-color: white;
    width: 100vw;
    padding: 20px;
    
}
main.product-details .container-product{
    border-radius: 20px;
    border:none;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );

}
main.product-details .img-product{
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}
main.product-details .img-product img{
    width: 90%;
    border-radius: 10px;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}
main.product-details .section-1{
    padding: 10px;
}
.item-product .inf-product h2{
    text-align: center;
    font-size: 28px;
}
.item-product .inf-product p{
    text-align: justify;
    padding: 10px;
    font-style: italic;
    width: 100%;
}
.item-product .inf-product .bold{
    font-weight: bold ;
    font-size: 22px;
    padding-top: 10px;
}
.item-product .content-buttoms {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.item-product .content-buttoms a{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.item-product .content-buttoms button{
    padding: 5px;
    text-align: center;
    background-color:#E0C05A;
    border-radius: 5px;
    border:none;
    width: 50%;
    
}
main.product-details .section-2{
    display: none;
}

/*footer*/
.footer {
    margin-top: .3rem;
    width: 100vw;
    padding: 2rem;
    background-color: var(--colorWhite);
    margin: auto;
    text-align: center;
    border-top: 0.2rem solid var(--colorOrange);
    /*box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );*/
}

.footer .content{
    margin: 1.5rem 0.3rem;
}
  
.footer .content__title, .content__copyright {
    font-size: 1.2rem;
    margin-bottom: .3rem;
    font-family: 'merienda';
    font-weight: bold;
}

.footer .content__description {
    font-size: 1rem;
    font-family: 'josefin';
}
  
.footer .content__copyright{
    margin-top: 1.5rem;
}

.footer .content__map {
    width: 90%;
}

.footer-content .content-icon{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footer-content .icon-media .fab{
    color: black;
    border-radius: 50%;
    border: 2px solid black;
    padding: .4rem;
    margin: 0.1rem;
}
/*/footer/*/


@media (min-width: 481px){
    header .burger-menu{
        display: none;
    }
    header .top-header{
        /*border: 1px solid black; */  
       display: flex;
       max-width: 100vw;
       align-items: center;
   }
   header .top-header .bar-search{
    /*border: 1px solid black;*/
    width: 35%;
    padding: 5px;
    display: flex; 
    font-size: 15px;
    }
    header .top-header a {
        min-width: 15%;
        min-height:40px; 
    }
    header .top-header a img#logo{
        /*border: 1px solid black;*/
        width: 100%;   
        padding: 5px;  
    }
    header .top-header .top-header-navbar .text-navbar{
        /*border: 1px solid black;*/
        display: flex;
    }
    header .top-header .top-header-navbar .icons-navbar{
        /*border: 1px solid black;*/
        display: flex;
    }
    header  .top-header-navbar .icons-navbar .icons-navbar_item{
        font-size: 19px;
        border-left: 1px solid white;
        padding: 15px;
    }
    header .top-header-navbar .text-navbar .text-navbar_item{
        font-size: 17px;
        border-left: 0.5px solid white;
        
    }
    header .top-header .top-header-navbar .icons-navbar li{
        margin: 10px;
        padding: 1px 10px;
    }
    header .top-header .top-header-navbar .text-navbar li{
        margin: 4px;
        padding: 1px 10px;
    }
    .barra-navbar{
        display:flex;
        background-color:#668F2E;  
        justify-content: space-around;
    }
    .barra-navbar .barra-text-navbar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; 
    }
    .barra-navbar .barra-text-navbar .barra-text-navbar_item{
        display: flex;
        justify-content: center;
        width: 30%;
        padding: 10px;  
    }
    .barra-navbar .barra-text-navbar #central.barra-text-navbar_item{
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    
    
    .banner-img .banner{
        display: block;
        width: 100%;
        max-height: 130px;
    }

    main.main .section2 .fruits-vegetables .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    main.main .section2 .fruits-vegetables .products .items{
        width: 45%;
    }
    main.main .section2 .fruits-vegetables .products .items img{
        width: 100%;
        height: 200px;
    }
    
    /*Product details*/
    main.product-details .container-product { 
        display: flex;
        justify-content: space-around;
    }
    main.product-details .container-product .img-product{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    }
    main.product-details .container-product .section-1{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
    .container-product .section-1 .item-product{
        justify-content: center;
        align-items: center;
        padding: 20px 20px 20px 5px;
    }
    .item-product .inf-product h2{
        text-align: center;
        font-size: 20px;
    }
    .item-product .inf-product p{
        text-align: justify;
        padding: 10px;
        font-style: italic;
        width: 100%;
    }
    .item-product .inf-product .bold{
        font-weight: bold ;
        font-size: 15px;
        padding-top: 5px;
    }
    .item-product .content-buttoms {
        display: flex;
        /*flex-wrap: wrap;*/
        margin-top: 10px;
    }
    .item-product .content-buttoms a{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
    }
    
    .item-product .content-buttoms button{
        padding: 5px;
        text-align: center;
        background-color:#E0C05A;
        border:none
    }






}  
    

@media (min-width:769px){
    header .top-header{
        padding: 0px 15px;
    }

    .inf-text h5{
    display: block;
    padding: 8px;
    text-align: center;
    background-color: #E0C05A;
    font: size 15px;
    color:black;
    }
    header .top-header .bar-search{
        /*border: 1px solid black;*/
        width: 40%;
        text-align: center;
        font-size: 25px;
    
    }
    header .bar-search #Buscar {
        text-align: center;
        /*border-radius: 6px;*/
        font-size: 15px;  
    }
    header  .top-header-navbar .icons-navbar .icons-navbar_item{
        font-size: 22px;
    }
    header .top-header-navbar .text-navbar .text-navbar_item{
        font-size: 20px;
    }
    header  .top-header-navbar .icons-navbar .icons-navbar_item a i:hover{
        color: black;
        cursor:pointer;
    }
    .banner-img .banner{
        display: block;
        width: 100%;
        max-height: 180px;
    }


    main.main .section1 nav{
        width: 85%;
    }
    main.main .section2 .filtro{
        width: 15%;
        display: block;
        background-color: #BAE06C;
    }
    main.main .section2 .filtro .content-form{
        padding: 10px;
        /*position: fixed;*/
        /*width: 15%;*/
        border: white 1px solid;
        background-color: #D61E23;
        color: white;
        border-radius: 5px;
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    }
    main.main .section2 .filtro .content-form .control-formulario{
        margin: 10px 0px;
    }
    main.main .section2 .filtro .content-form .control-formulario label{
        font-style: italic;
    }
    main.main .section2 .filtro .content-form .control-formulario .select{
        text-align: left;
        padding: 10px;
        font-size: 12px;
        border-radius: 5px;
        background-color: white;
        color: black;
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
        display: none;
    }
    main.main .section2 .filtro .content-form .content-buttons{
        text-align: center;
        margin-bottom: 10px;
    }
    main.main .section2 .filtro .content-form:hover .control-formulario .select{
        display: block;
    }
    main.main .section2 .filtro .content-form:hover .control-formulario .select div{
        display: flex;
        margin-bottom: 5px;
    }
    main.main .section2 .fruits-vegetables{
        width: 85%;
    }
    main.main .section2 .fruits-vegetables .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    main.main .section2 .fruits-vegetables .products .items{
        width: 25%;
        transition: 0.5s all;
    }
    main.main .section2 .fruits-vegetables .products .items:hover{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    }
    /* Product details*/
    main.product-details .container-product { 
        display: flex;
        align-items: center;
    }
    main.product-details .container-product .img-product{
        justify-content: center;
    }
    main.product-details .container-product .section-1 .item-product .inf-product{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .item-product .content-buttoms button:hover{
        background-color: #A5DB5B;
        cursor:pointer;
    }
    








    .footer .footer-content {
        display: flex;
    }
    .footer .content{
        margin: auto;
        max-width: 30rem;
    }    
}
