<header>
    <div class="top-header">
        <a href="/"><img id="logo" src="/img/logo_d.png" alt=""></a>
        <div class="bar-search">
            <input id="Buscar" type="search" name="Buscar" placeholder="Busca tu cosecha favorita">
            <aspan class="icon-search"><i class="fas fa-search"></i></aspan>
        </div>
        <nav class="top-header-navbar">
            <ul class="text-navbar">
                <li class="text-navbar_item"><a href="/register">Registrarme</a></li>
            </ul>
        </nav>
        <nav class="top-header-navbar">
            <ul class="icons-navbar">
                <li class="icons-navbar_item"><a href="/adm_products"><i class="fas fa-user-cog"></i></a></li>
                <li class="icons-navbar_item"><a href="/shopping_cart"><i class="fas fa-shopping-cart"></i></a></li>
                <li class="icons-navbar_item"><a href="/login"><i class="fas fa-user-circle"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <a href="/" class="burger-bottom"><i class="fas fa-bars"></i></a>
        </div>
    </div>
</header>