<section class="inf">
    <div class="inf-text">
        <h5>Si realizaste el pedido después de las 12:00 pm, tu pedido se despachara el día siguiente y los
            pedidos
            realizados el sábado después de las 12 pm y el domingo se despacharan el día Lunes</h5>
    </div>
</section>