<nav class="barra-navbar">
    <ul class="barra-text-navbar">
        <li class="barra-text-navbar_item"><a href="/">Inicio</a></li>
        <li id="central" class="barra-text-navbar_item"><a href="/#farmers">Agricultores</a></li>
        <li class="barra-text-navbar_item"><a href="/#products">Cosecha</a></li>
    </ul>
</nav>